{% extends "crmsite/wrap.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать на портал!</h1>
        <p class="lead">Портал предназначен для помощи авторам МГТУ в опубликовании своих статей на иностранном языке в
            международных журналах.</p>
        <hr class="my-4">
        <p>Чтобы опубликовать статью с помощью нашего портала нажмите кнопку ниже.</p>
        <a href='
    /neworder' class='butn'>Заполнить форму заявки</a>
    </div>
    <hr class="my-4">
    <div class="container-fluid">
        <h3>Нормативные документы</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Ссылка</th>
            </tr>
            </thead>
            <tr>
                <td>Документ1</td>
                <td><a href="#">Скачать</a></td>
            </tr>
            <tr>
                <td>Документ2</td>
                <td><a href="#">Скачать</a></td>
            </tr>
        </table>
    </div>
{% endblock %}