
{%   extends "crmsite/wrap.html" %}
{% block content %}

<table class="table" border="2">
        <tr class="table-active" >
            <td>#</td>
            <td>Название работы</td>
            <td>Дата создания заявки</td>
            <td>Этап</td>
            <td>Клиент</td>
            <td>Аннотация</td>
            <td>Ключевые слова</td>
            <td>Комментарий</td>
        </tr>

    {% for post in posts %}
         <tr>
             <td>
                    {{ post.id }}
             </td>
             <td>
                 </h1><a href="/">{{ post.nameJob }}</a>
             </td>
             <td>
                 {{ post.createAt }}
             </td>
             <td>
                 {{ post.Condirion }}
             </td>
             <td>
                 {{ post.creator }}
             </td>
             <td>
                 {{ post.annotation }}
             </td>
             <td>
                 {{ post.keyWords }}
             </td>
          <td>
                 {{ post.Comment }}
             </td>
         </tr>
         </tr>
{% endfor %}

{% endblock %}
