{%   extends "crmsite/wrap.html" %}
{% block content %}


    <div>
        <h1><a href="{%url 'Управление заявкой' ids=post.id%}">{{ post.nameJob }}</a></h1>
        <p>Создано {{ post.createAt }}</p>
        <p>{{ post.updateAt }}</p>
        <p>{{ post.creator }}</p>
        <p>{{ post.annotation }}</p>
        <p>{{ post.typeOfWork }}</p>
        <p>{{ post.keyWords }}</p>
        <p>{{ post.Comment }}</p>
        {{ form.as_p }}
        <p><a href="/">Скачать файл</a></p>
    </div>
{% endblock %}
